# General Node.js and root-level exclusions
node_modules/
npm-debug.log
npm-shrinkwrap.json

# Dependency directories
/.pnp
.pnp.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db

# Coverage directory used by testing tools like Jest or Mocha
/coverage/

# nyc test coverage
.nyc_output/

# Grunt intermediate storage (used by task runners)
/.grunt/

# Parcel-bundler cache (used by the Parcel bundler)
/.cache/

# dotenv environment variables file
.env
.env.*.local

# Mac specific files
.DS_Store
